<!-- Dropdown -->
<div class="dropdown">
<li>Welcome NAME</li>
    <div class="dropdown-content">
    <ul>
        <li>full name</li>
        <li>email</li>
        <li><a href="/messages">Messages</a></li>
        <li><a href="/login/logout">Logout</a></li>
        <li><a href="/">Home</a></li>
    </div>
</div> <!-- end dropdown -->