<div class = "footer" >
    <h5>Created by Group 11: 2019</h5>
    <h6>If you have any problems, please contact the IT Service Desk: ITServiceDesk@cardiff.ac.uk</h6>
    <h6>Cardiff University is a member of the Russell Group of Universities</h6>
    <h6>Cardiff University is a registered charity No. 1136855</h6>
    <h6>Copyright © Cardiff University</h6>
</div>