<div class="container" id="home">
    <div class="row">
        <div class="col-sm-8">
            <article class="article">
                <h1 class="article-title">Who are we?</h1>
                <p>Project central is our site for completing group projects. It was developed by Group 11 as a second year group project.</p>
            </article>
            <!-- article-->
            <article class="article">
                <h1 class="article-title">Cardiff University</h1>
                <p>If you want to keep up with what's going on with the university,<a href="http://www.cardiff.ac.uk">find out more</a></p>
                <p>Use of this service is governed by <a href="https://www.cardiff.ac.uk/public-information/policies-and-procedures/it-regulations">University IT regulations</a>. Logging in to Cardiff University confirms that you accept and agree to be bound by these regulations.</p>
            </article>
            <article class="article">
                <h1 class="article-title">How to get started!</h1>
                <p>If you are part of a group project module, you will have been added as a user, all you need to do is register your account and login! Follow these easy steps:
                <ol>
                    <li>Select Register</li>
                    <li>Enter your cardiff university email address</li>
                    <li>Choose a password</li>
                    <li>Select Sign-up</li>
                    <li>Select Login and sign in with your email and password!</li>
                </ol></p>
            </article>
        </div>
        {{> sidebar }}
    </div>
    {{> footer }}
</div>