<!-- Student Links Here -->
<li><a href="/portal/student">Home</a></li>
<li><a href="/portal/student/brief">Brief</a></li>
<li><a href="/portal/student/coursework">Coursework/Assignments</a></li>
<li><a href="/portal/student/tools">Tools</a></li>
<li><a href="/portal/student/groupLog">Group Log</a></li>
<li><a href="/portal/student/organiseMeetings">Organise Meetings</a></li>