<!-- Module leader Only -->
<li><a href="/portal/moduleLeader">Home</a></li>
<li><a href="/portal/moduleLeader/moduleLeaders">Module-Lead</a></li>
<li><a href="/portal/moduleLeader/supervisors">Supervisors</a></li>
<li><a href="/portal/moduleLeader/clients">Clients</a></li>
<li><a href="/portal/moduleLeader/students">Students</a></li>
<li><a href="/portal/moduleLeader/groups">Manage Groups</a></li>
<li><a href="/portal/moduleLeader/projects/list">Projects</a></li>
<li><a href="/portal/moduleLeader/assignments">Assignments</a></li>