<li><a href="/portal/client">Home</a></li>
<li><a href="/portal/client/projects/list">Project Proposals</a></li>
<li><a href="/portal/client/groups">View Groups</a></li>
<li><a href="">Booked Meetings</a></li>