<!-- Nav tabs -->
<div class="col-md-10 col-md-offset-1">
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">
            Overview
        </a>
    </li>
    <li role="presentation">
        <a href="#ide" aria-controls="ide" role="tab" data-toggle="tab">
            IDE
        </a>
    </li>
    <li role="presentation">
        <a href="#uml" aria-controls="uml" role="tab" data-toggle="tab">
            UML
        </a>
    </li>
    <li role="presentation">
        <a href="#task" aria-controls="task" role="tab" data-toggle="tab">
            Task Manager
        </a>
    </li>
    <li role="presentation">
        <a href="#version" aria-controls="version" role="tab" data-toggle="tab">
            Version Control
        </a>
    </li>
    <li class="pull-right">
        <h2>Tools</h2>
    </li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="overview">
        <p>During the group project, you will need access to various different tools in order to complete your work. We have provided links to sites and documentation that you may find useful.</p>
        <p>We have also mentioned university tools where applicable, but if you decide to use a third party tool please check their terms and conditions.</p>
        <p>We have information for:
        <ul>
            <li>IDEs for development</li>
            <li>UML</li>
            <li>Task/Project Management</li>
            <li>Version Control Platforms</li>
        </ul></p>
    </div>

    <div role="tabpanel" class="tab-pane" id="ide">
        <h2>Integrated Development Environments</h2>
        <p>You will be developing an application for the group project. IDEs are useful for facilitating software development
            - providing source code editors, build automation tools and debuggers. We have provided a list of a few popular IDEs and where
            you can download them/find documentation.</p>

        <h3>Eclipse</h3>
        <p>Eclipse is a free IDE famous for their Java Integrated Development Environment. However they provide many plugins of IDEs for
            various programming languages such as PHP, Python, C and C++</p>
        <p>Provider: Eclipse Foundation</p>
        <p><a href="https://www.eclipse.org/downloads/">Check out their website.</a> </p>

        <h3>IntelliJ IDEA</h3>
        <p>IntelliJ IDEA is a free IDE that can provide smart code compilation and framework specific assistance to users. It provides many inbuilt
            tools such as git. It is compatible with JVM languages, enterprise frameworks, mobile development and web development.</p>
        <p>Provider: Jetbrains</p>
        <p><a href="https://www.jetbrains.com/idea/">Check out their website.</a> </p>

        <h3>Visual Studio</h3>
        <p>Microsoft provide many applications for developing code, including a Visual Studio IDE with advanced debugging, or a simple
            text editor for debugging. Available for Windows and Mac. Useful for developing applications on Android, iOS, Mac, Windows, web and cloud.</p>
        <p>Provider: Microsoft</p>
        <p><a href="https://visualstudio.microsoft.com/">Check out their website.</a> </p>
    </div>
    <div role="tabpanel" class="tab-pane" id="uml">
        <h2>Unified Modelling Language</h2>
        <p>During the design stage of application development, you will often need to provide UML diagrams. We have provided some links to
            some online applications that allow you to easily create these diagrams. These are commonly used to create use case diagrams and
            class diagrams.</p>

        <h3>StarUML</h3>
        <p>Software that is free to download for agile and concise modelling. Provides a clear, simple, easy user interface to facilitate
            creating UML diagrams. Provides cross-platform support.</p>
        <p>Provider: MK Labs</p>
        <p><a href="http://staruml.io/">Check out their website.</a> </p>

        <h3>yUML</h3>
        <p>This site allows you to draw uml diagrams programatically, no visual drawing tools required. You can write code to request an image
            programatically using a GET or PUT.</p>
        <p>Provider: Pocketworks</p>
        <p><a href="https://yuml.me/">Check out their website.</a> </p>

        <h3>draw.io</h3>
        <p>Online site that allows you to create diagrams and drawings online for free. Open source diagramming tool. Is available on any browser.</p>
        <p>Provider: JGraph</p>
        <p><a href="https://about.draw.io/">Check out their website.</a> </p>
    </div>
    <div role="tabpanel" class="tab-pane" id="task">
        <h2>Task Managers/Project Management</h2>
        <p>It can be difficult to manage a project, keep track of tasks and time plans, successfully follow agile methodologies - especially
            with large groups of people. We have provided information on some tools that facilitate with creating time plans like gantt charts, or
            sites that help with group task management.</p>

        <h3>TeamGantt</h3>
        <p>While you usually have to pay for this product - they allow you to create your first gantt chart for free. This site faciliates the process
            of creating a clear, readable gantt chart. It provides a simple, straightforward user interface allowing easy creation of gantt charts. They
            provide documentation on how to use their product.</p>
        <p>Provider: TeamGantt</p>
        <p><a href="https://www.teamgantt.com/">Check out their website.</a> </p>

        <h3>Microsoft Teams</h3>
        <p>A useful online tool that allows you to create a team and easily track your group activity, chat, assignments, calendar and files.
            With your university outlook account, you have access to Microsoft teams, we recommend you check it out.</p>
        <p>Provider: Microsoft</p>
        <p><a href="https://products.office.com/en-us/microsoft-teams/group-chat-software">Check out their website.</a> </p>

        <h3>Taiga</h3>
        <p>Taiga is a project management platform for agile developers. It runs in the browser. Cardiff university provides its own
            server for Taiga meaning you can get the full paid version for free. You can login with your cardiff university username and password.
            It provides a simple fast interface, and provides templates for agile methodologies Kanban and Scrum.</p>
        <p>Provider: Taiga</p>
        <p><a href="https://taiga.cs.cf.ac.uk/discover">Check out the university Taiga here.</a> </p>

        <h3>Trello</h3>
        <p>This is a brower based tool that allows you to create boards, lists and cards for free - allowing easy organisation of projects and tasks.
            They provide plenty of documentation on their site.</p>
        <p>Provider: Atlassian</p>
        <p><a href="https://trello.com/en-GB">Check out their website.</a> </p>
    </div>
    <div role="tabpanel" class="tab-pane" id="version">
        <h2>Version Control</h2>
        <p>During the development phase of your projects, you will collaboratively be working on code. You will want to have some sort of
            version control when working as a group. We have provided details for the two main sites for version control.</p>

        <h3>Gitlab</h3>
        <p>The university has their own private gitlab server which can be used to collaboratively work on projects. You can login with your
            cardiff university username and password.</p>
        <p><a href="https://gitlab.cs.cf.ac.uk/">Check out the university Gitlab here.</a> </p>

        <h3>Github</h3>
        <p>A common development version control platform. There is a free community version.</p>
        <p><a href="https://github.com/">Check out their website.</a> </p>
    </div>
</div>
</div>