<div class="col-md-10 col-md-offset-1">
    {{#if proposal}}
        <h2> Project Brief</h2>
        <p>{{proposal.brief}}</p>
    {{else}}
        <p>
            No Brief/Project has been assigned to your group yet.
        </p>
    {{/if}}
</div>